*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(18, 18, 18);
}
#main-container{
    height: 70vh;
    width: 60vw;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 40px 0px 20px;
    color: rgb(231, 231, 231);
}
#options{
    display: flex;
    margin: 20px;
}
.card{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 255, 8);
    color: black;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
}
.active{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 210, 8);
    color: black;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
}
#rollBtn{
    font-size: 1.2em;
    color: rgb(197, 255, 8);
    border: 3px solid rgb(197, 255, 8);
    background-color: transparent;
    border-radius: 6px;
    padding: 8px 13px ;
    width: 150px;
    cursor: pointer;
}
#rollBtn:hover{
    color: black;
    background-color: rgb(197, 255, 8);
}
#diceAnimation{
    margin-top: 50px;
}
#dice{
    height: 100px;
    /*animation: roll 5s ease-out infinite;*/
}
.anime{
    animation: rolling 2s ease-out;
}

@keyframes roll{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 0deg;
    }
    70%{
        rotate: 360deg;
    }
    100%{
        rotate: 360deg;
    }
}

@keyframes rolling {
    0%{
        rotate: 0deg;
        filter: blur(100);
    }
    50%{
        rotate: 720deg;
        filter: blur(0);
    }
    100%{
        rotate: 720deg;
        filter: blur(0);
    }
}
#result{
    color: rgb(255, 210, 8);
    font-size: 30px;
    margin-top: 40px;
}